.pagex-nav{
	position: relative;
	display: inline-block;
	list-style-type: none;
	float: right;
	padding-left: 25px;
	padding-right: 25px;
	margin: -150px 0 -150px 0;
	top: 60%;
	background-color: rgba(45,45,45,0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled="true",startColorstr="#CC2D2D2D",endColorstr="#CC2D2D2D");
	z-index: 100;
}
.pagex-nav li{
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}
.pagex-nav li:before{
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: white;
	content: '';
}
.pagex-nav li:hover:before{
	background-color: black;
}
.pagex-nav li.selected:before{
	background-color: black;
}	